
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   background-color: rgb(103, 195, 228);
}

.me-7{
   margin-right: 200px;
}

header{
   display: flex;
   justify-content: center;
   a{
      text-decoration: none;
      color: white;
      font-size: 25px;
      font-weight: 600;
      margin: 0 20px;
   }
}
